<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>promobanner</name>
    <displayName><![CDATA[Promotional Banner]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Display promotional banners based on categories]]></description>
    <author><![CDATA[Gaurav]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>